<h1>マイサークル一覧</h1>
<div class="box">
    <div class="container">
     	<div class="row">
     	  <% mycircles.each do |circle| %>
         <% if circle.customer_id === current_customer.id %>
        	 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
           <div class="box-part text-center">
             <%=link_to (attachment_image_tag circle, :image, format: 'jpeg', size: "300x200", fallback: "no_image.png"),customer_circle_path(circle.customer_id, circle.id) %>
             <p>サークル名：<%= link_to circle.circle_name, customer_circle_path(circle.customer_id, circle.id) %></p>
             <p>説明：<%= circle.explanation %></p>
             <p>ユーザーネーム：<%= circle.customer.name %></p>
             <% pref=JpPrefecture::Prefecture.find(circle.place.to_i).name%>
             <p>活動場所: <%= pref%></p>
            </div>
           </div>
           <% end %>
          <% end %>
	    </div>
    </div>
   </div>