<div class="row">
<div class="col-lg-12">
<div class="card shadow">
   <div class="card-body text-center">
      <h1>Details</h1>
      　 <hr class="my-4">
          <%= attachment_image_tag @event, :image, format: 'jpeg', size: "700x400", fallback: "no_image.png" %>
      　   <hr class="my-4">
          <h5>イベント名：<%= @event.title %></h5>
          <hr class="my-4">
          <p>イベント内容：<%= @event.body %></p>
          <hr class="my-4">
          <p>作成者：<%= link_to @event.customer.name, customer_my_page_path(@event.customer) %></p>
          <hr class="my-4">
          <% pref=JpPrefecture::Prefecture.find(@event.place.to_i).name%>
          <p>活動場所⇨<%= pref%>　　ジャンル⇨<%= @event.genre.genre_name %></p>
          <hr class="my-4">
          <p>サークル名：<%= link_to @event.circle.circle_name, customer_circle_path(@event.customer, @event.circle) %></p>
           <% if @event.favorited_by?(current_customer.id) %>
          <hr class="my-4">
            <p>
              <%= link_to customers_favorite_event_path(@event), method: :delete do %>
               ♥Favorite
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to customers_favorite_events_path(event_id: @event.id), method: :post do %>
                 ♡Favorite
              <% end %>
            </p>
          <% end %>
    <div class="card-footer">
     <ul class="nav">
       <% if current_customer.id == @event.customer_id %>
       <li class="nav-item">
        <%= link_to "このイベントを編集する", edit_customer_circle_event_path, class: "btn btn-secondary" %>
       </li>
       <li class="nav-item">
         <%=link_to "このイベントを削除する", customer_circle_event_path, method: :delete, class: "btn btn-secondary" %>
       </li>
       <% end %>
     </ul>
    </div>
</div>
</div>
</div>














